<mat-toolbar>
  <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <div style="width: 100%;">
    <img  style="width: 50px;height: 40px;" src="logo.jpg"/>
    RentsCents
    <a mat-button routerLink="/homepage" routerLinkActive="mat-accent" *ngIf="al"><mat-icon>home</mat-icon> Home</a>
    
    <!-- <a mat-button routerLink="/payment" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">payment</a> -->
    <!-- <a mat-button routerLink="/helppage" routerLinkActive="mat-accent" *ngIf="al"> Help</a> -->
    
    
    <span style="float: right;"> 
      <a mat-button routerLink="/uploaditem" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">Upload an item</a>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated" >Login</a>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Signup</a>
      <a mat-button routerLink="/about" routerLinkActive="mat-accent" *ngIf="al">About us</a>
      
     <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"*ngIf="userIsAuthenticated">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a mat-button routerLink="/userprofile" routerLinkActive="mat-accent" *ngIf="userIsAuthenticated">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </a>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>email</mat-icon>
        <span>Email</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications</mat-icon>
        <span>Disable alerts</span>
      </button> -->
      <button mat-menu-item>
        <button mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">
        <mat-icon>power_setting</mat-icon>
        <span>Logout</span>
        </button>
      </button>

      <button mat-menu-item>
        <a mat-button routerLink="/helppage" routerLinkActive="mat-accent" >
        <span>Help</span>
      </a>
      </button>
    </mat-menu>
    </span>
  </div>
</mat-toolbar>
