<mat-card>
  <button mat-raised-button color="primary" (click)="gotoRealestate()">Real Estate</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoVehicles()">Vehicles</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoElectronics()">Electronics</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoSports()">Sports</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoFurniture()">Furniture</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoBooks()">Books</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoEducational()">Educational</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoHobby()">Hobby</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoClothing()">Clothing</button>&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="gotoOthers()">Others</button>
</mat-card>
<mat-card>
  <input  placeholder="Enter items to Search..."><button class="button">SEARCH</button>
  <br>
  <br>
  <br>
  <br>
  <input type="text" placeholder="Enter the maximum budget that you can afford..."><button>FILTER</button>
</mat-card>

<mat-grid-list cols="4" rowHeight="1:2" guttersize="5px" *ngIf="posts.length > 0">
  <!-- items being paged -->
<!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->

 <mat-grid-tile *ngFor="let tile of posts">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{tile.name}}</mat-card-title>
        </mat-card-header>

        <img mat-card-image class='post-image' [src]="tile.imagePath" [alt]="tile.name">

        <mat-card-content>
          <p> Price : {{tile.price}}  </p>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit"  (click)="book()"><a mat-button routerLink="/bookproduct" routerLinkActive="mat-accent">BUY</a></button>
          <button mat-raised-button color="primary" (click)="viewProduct(tile._id)">VIEW</button>
        </mat-card-actions>

      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
