<mat-card id="myDIV">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <div style="margin-left: 10px ; margin-right: 10px ; " class="form-group">
    <div >
      <mat-form-field appearance="legacy">
        <mat-label style="font-size: 1rem;">Email</mat-label>
        <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" class="form-control" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>

      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label style="font-size: 1rem;">Password</mat-label>
        <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput="ngModel" class="form-control" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    </mat-card-actions>
  </div>
  
    <mat-spinner *ngIf="isLoading"></mat-spinner>

  </form>
</mat-card>
