example-card {
    max-width: 400px;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-form-field {
    margin-right: 12px;
  }

  mat-paginator{
    font-weight: bold;
  }

.custom{
    /* object-fit: cover; this makes the image in src fit to the size specified below */
    /* width: 100%;
    margin: 30px auto; */
   
  }
  .mat-card-image {
    padding: 0 10px;
    box-sizing: border-box;
  }