<div>
    <h2><b> Hello Ganesh,</b></h2>
    <button mat-button routerLink="/updateuserprofile" color="primary" type="submit" >Want to Update User Profile or Change Password? (Click here)</button>
    <br>
    <br>
    <mat-card>
    <ul class="list-group">
        <li class="list-group-item"><b>NAME:</b> Ganesh Gaitonde</li>
        <li class="list-group-item"><b>EMAIL:</b> ganesh@gmail.com</li>
        <li class="list-group-item"><b>MOBILE NO.:</b> 1234567890</li>
    </ul>
    </mat-card>
    <br>
    <br>
     
    <p>On this page you would be able  to see your profile as well as opt to change your profile as and when you wish.</p>
    <p>Also this page will show you the things that have been rented by you as well as the things that you have put on rent and also their statuses.</p>

    <br>
    <br>
    
    
<div class="center">
    <h1><b><u>STATUS OF YOUR PROFILE</u></b></h1>
<br>
<br>
</div>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <h3><b><u>PRODUCTS THAT I HAVE RENTED:</u></b></h3>
        <table border = "1" cellpadding = "5" cellspacing = "5" bgcolor = "white" width="100%">
            <tr>
            <th>PRODUCT NAME</th>
            <th>IMAGE</th>
            <th>NAME OF OWNER</th>
            <th>DATE OF RENT</th>
            <th>DATE OF RETURN</th>
            <th>PAYMENT STATUS</th>
            </tr>

            <tr>
            <td>TV</td>
            <td>TV Image</td>
            <td>Bunty</td>
            <td>12-02-2019</td>
            <td>12-03-2020</td>
            <td>NOT PAID</td>
            </tr>
</table>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-md-6">
            <h3><b><u>PRODUCTS THAT I HAVE RENTED OUT:</u></b></h3>
            <table border = "1" cellpadding = "5" cellspacing = "5" bgcolor = "white" width="100%">
                <tr>
                <th>PRODUCT NAME</th>
                <th>IMAGE</th>
                <th>NAME OF LENDER</th>
                <th>DATE OF RENT</th>
                <th>DATE OF RETURN</th>
                <th>PAYMENT STATUS</th>
                </tr>
    
                <tr>
                <td>TV</td>
                <td>TV Image</td>
                <td>Bunty</td>
                <td>12-02-2019</td>
                <td>12-03-2020</td>
                <td>NOT PAID</td>
                </tr>
    </table>
        </div>








    

    
    
   


