<!DOCTYPE html>
<html>
<title>About RentsCent</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="./about.component.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<body>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:800px">
    <h3 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE RENTSCENT</span></h3>
    <h1><p><strong>RentsCent is platform for people who want to put an item on rent or wants an item on rent.</strong></p></h1>
    <p align="justify">Our aim is to build an online platform which connects people over requirements and availability, to set in motion a rent contract. A rent contract is similar to an online purchase in this case, where one of the parties involved searches for an item that they require but don't want to purchase, while the other party comprises of individual(s) possessing this particular item and is in no immediate need of it. The subsequent exchange that takes place between these two parties involves a lending of sorts with an official contract inclusive of a deposit amount and a promissory amount to be later paid. </p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>""</i></p>
      <p> Team RentsCent</p>
    </div>
  </div>
</div>
</div>
<br>
<!-- Footer -->
<footer class="w3-center w3-dark-grey w3-padding-24">
  
<div class="w3-container" id="where" >
    <div class="w3-content" style="max-width:350px">
      <h5 class="w3-center "><span class="w3-tag w3-wide">REACH US</span></h5>   
    </div>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
</div>
</footer>

</body>
</html>