<br>
<br>
<h1  style="text-align: center;"><u><b>Frequently Asked Questions</b></u></h1>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;"><u><b>General Information:</b></u></h2>
&nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">1. What is CentRents?</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">CentsRents is platform for people who want to put an item on rent or wants an item on rent.Our aim is to build an online platform which connects people over requirements and availability, to set in motion a rent contract. A rent contract is similar to an online purchase in this case, where one of the parties involved searches for an item that they require but don't want to purchase, while the other party comprises of individual(s) possessing this particular item and is in no immediate need of it. The subsequent exchange that takes place between these two parties involves a lending of sorts with an official contract inclusive of a deposit amount and a promissory amount to be later paid.</p>
&nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">2. Is there a minimum period for which I must rent out a product? What if I want to end my rental contract before that period?</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">There is no deadline as to how long the product shoud be with the customer from CentsRents, as a company. However,the number of days a product can be rented by a person would be discussed by the owner and renter and the date that is agreed upon is then stored with CentsRents.If a customer wants to end that tenure then he/she can use the chat feature provide or contact the concerned owner and return the product</p>
&nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">3. Is there any free trial policy by which I can try out the rental service for free?</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<p  style="text-align: center;">Yes,we do provide first two trials free (i.e. to put items on rent) for the owner after which he/she would have to pay a nominal fee to put items on rent.</p>
&nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">4. I am a house owner, how can I benefit from the services?</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">Furnished apartments demand a premium house rent whereas unfurnished house rent have a normal rent.</p>
&nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">5. How can I reach you?</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">You can find all information all the members and contacts of customer care officials from the About Us option on the top right corner</p>
</div>
<div>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;"><u><b>Rental Process & Tenure of Usage:</b></u></h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">1. What steps are involved in renting out a product from CentsRents?</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">Firstly choose the product that you want to rent from any of the categories that are mentioned on the Home Page.Click on View to check out the details of the product.Here, you would be encountered by two options, one to Buy the item, clicking which you would be moved to Confirm Booking section; confirming here you would be moved to the Payment Section,enter the payment details as asked after which you would be moved to PayPal's website where you can complete your transactions. Second option that is provided otherwise is to Chat, clicking which you would be moved to the Chat Section where you can negotiate with the owner</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">2. What are the available modes of payment?</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">Currently online payments can be made through a  PayPal account.</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">3.What if I damage the product?</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<p  style="text-align: center;"> If the damage makes the item unusable then you would be charged. Out of the charged amount 15% of the amount would go to RentsCents for providing the platform, and rest 85% would go to the owner</p>
</div>
<div>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;"><u><b>Returns and Refunds:</b></u></h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">1.What is the return policy?</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">For returning any item at any time can done by informing the owner using the Chat option and then returning the item as per the discussions done. </p>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">2. What if I don't like the product at the time of delivery?</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<p style="text-align: center;">For returning any item at any time can done by informing the owner using the Chat option and then returning the item by proceding as per the discussions done.</p>
    &nbsp;&nbsp;&nbsp;&nbsp;<h2  style="text-align: center;">3. Are there any charges for cancellation?</h2>
    &nbsp;&nbsp;&nbsp;&nbsp;<p  style="text-align: center;"> No, there are no cancellation charges to be given to CentsRents. But same can be demanded by the owner </p>
</div>
