<mat-grid-list cols="4" rowHeight="1:2" guttersize="5px" *ngIf="users.length > 0">
  <!-- items being paged -->
<!-- <div *ngFor="let item of pagedItems">{{item.name}}</div> -->

 <mat-grid-tile *ngFor="let tile of users">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{tile.userName}}</mat-card-title>
        </mat-card-header>

        <!-- <img  style="width: 370px; height: 300px;" mat-card-image class='post-image' [src]="tile.imagePath" [alt]="tile.name"> -->

        <mat-card-content>
          <!-- <p> Price : {{tile.price}}  </p> -->
        </mat-card-content>

        <mat-card-actions>

          <button mat-raised-button color="primary" (click)="sendEmail()">Send Email</button>
          <button mat-raised-button color="primary" (click)="chat(tile)">Chat</button>

        </mat-card-actions>

      </mat-card>
  </mat-grid-tile>
</mat-grid-list>
