mat-card{
  width: 40%;
  margin: auto;
}

input, mat-form-field{
  width: 95%;
}

mat-spinner {
  margin: auto;
}


#myDIV {
  border:0.5px solid black;
  background-color:lightgrey!important;
  color: black;
  margin-left: 30% ;
  margin-top: 10px;  
  width: 40%;

  align: center;
  -webkit-animation: mymove 4s infinite; 
  animation: mymove 2s infinite;
}


.mat-raised-button{
  background-color:#595959;
  color: white;
} 