<mat-card>
   <!-- <mat-spinner *ngIf="isLoading"></mat-spinner>-->
   <mat-card-header>
    <mat-card-title>Booking of Product </mat-card-title>
   </mat-card-header>
   <mat-card >
    <mat-card-header>
        <mat-card-title>Product details:</mat-card-title>
    </mat-card-header>
      <mat-card-content>

        <mat-list role="list">
            <mat-list-item role="listitem"> Product Name &nbsp;:&nbsp;&nbsp; {{product.name}}  </mat-list-item>
            <mat-list-item role="listitem"> Category &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; {{product.main_category}}</mat-list-item>
            <mat-list-item role="listitem"> Sub Category &nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; {{product.sub_category}} </mat-list-item>
            <mat-list-item role="listitem"> Located &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp; {{product.city}},{{product.state}}</mat-list-item>
            <mat-list-item role="listitem"> Rating &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;{{product.rating}} </mat-list-item>
           <!-- <mat-list-item role="listitem"> Landed &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{product.name}} </mat-list-item>-->
        </mat-list>
      </mat-card-content>
   </mat-card>

   <mat-card>
       <mat-card-header>
           <mat-card-title>Product availability, Rent details and Previous History</mat-card-title>
       </mat-card-header>
       <mat-card-content>
        <mat-list role="list">
            <mat-list-item>Available &nbsp;: &nbsp;&nbsp;Available</mat-list-item>
            <mat-list-item>Price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;{{product.price}}</mat-list-item>
        </mat-list>
        <p> Before booking if you have any doubt or query related to product then you can contact
            owner  via phone , email and chat. options given below : </p>
       </mat-card-content>
       <mat-card-actions>
        <button mat-raised-button color="primary" type="button"  (click)="chat1()"><mat-icon>chat</mat-icon>&nbsp;&nbsp;Chat Box</button>
        <button mat-raised-button color="primary" type="button"  (click)="email1()"><mat-icon>email</mat-icon>&nbsp;&nbsp;Email</button>
      </mat-card-actions>
      <button mat-raised-button color="primary" type="button"  (click)="do1()" style="margin-left: 15px;"> <mat-icon>history</mat-icon>&nbsp;&nbsp;View previous History</button>
   </mat-card>
   <mat-card>
       <mat-card-header>
           <mat-card-title>Booking details</mat-card-title>
       </mat-card-header>
       <mat-card-content>
        <mat-list role="list">
            <mat-list-item>Your Name &nbsp;:  &nbsp;&nbsp;{{userName}}</mat-list-item>
            <mat-list-item>Your Email&nbsp;&nbsp;&nbsp;:  &nbsp;&nbsp;{{userEmail}}</mat-list-item>
        </mat-list>
       </mat-card-content>
       <div style="margin-left:15px;">
        <span>Date for which thing is available to buyers/users :&nbsp;&nbsp; </span>
        <input matInput name="redate" ngModel type="date" class="form-control" required>
       </div>
       <mat-card-actions>
        <button mat-raised-button (click)="payment()" color="primary" type="submit">Book product</button>
      </mat-card-actions>
      <div *ngIf="flag_" style="background-color: paleturquoise">
        <a href={{url_payment}}> CLICK HERE TO PAYMENT</a>
      </div>
   </mat-card>

  <!--  <mat-spinner *ngIf="isLoading"></mat-spinner>-->
</mat-card>
