<mat-card>
  <mat-card-header>
      <mat-card-title><h1>PAYMENT DETAILS FOR </h1></mat-card-title>
      <mat-card-subtitle><h3 style="color: black;">Transcation id :</h3></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <mat-card>
        <mat-card-header>
            <mat-card-title>PAYER INFORMATION :</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">  
                <mat-list-item role="listitem"> Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> First name &nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Last name &nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Payer id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>MERCHANT INFORMATION :</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">  
                <mat-list-item role="listitem"> Merchant id &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Merchant name &nbsp;: </mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>Product INFORMATION :</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">  
                <mat-list-item role="listitem"> Product name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Product quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Product price &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:  &nbsp;&nbsp;INR </mat-list-item>
                <mat-list-item role="listitem"> Product Description &nbsp;: </mat-list-item>
            </mat-list>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
            <mat-card-title>PAYMENT INFORMATION :</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list role="list">  
                <mat-list-item role="listitem">  Fess &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Payment mode &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: </mat-list-item>
                <mat-list-item role="listitem"> Parent payment id &nbsp;: </mat-list-item>
                <div style="margin-left: 15px; color: blue;">
                    <div style="margin-bottom: 10px; color: blue;">For checking my payment history and account balance :</div>
                    <a href={{sanddox_url}} style="color:white"><button mat-raised-button color="primary" type="button"><mat-icon>payment</mat-icon> &nbsp; Payment</button></a>
                </div>
                
            </mat-list>
               
        </mat-card-content>
      </mat-card>
  </mat-card-content>
</mat-card>