mat-card{
  width: 95%;
  margin: auto;
}

input, mat-form-field{
  width: 95%;
}

mat-spinner {
  margin: auto;
}
<<<<<<< HEAD

#myDIV {
  border:1px solid black;
  color: black;
  /* margin-left: 30% ; */
  margin-top: 20px;  
  width: 90%;
  background-color:#e0e0d1 !important;
  align: center;
  -webkit-animation: mymove 4s infinite; 
  animation: mymove 2s infinite;
}


.mat-raised-button{
  background-color:#595959;
  color: white;
} 
=======
>>>>>>> 255558e5027e3cd33e23aa709d6f1d14f56a0a6d
