<mat-card id="myDIV">
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <form (submit)="onUpdate(updateForm)" #updateForm="ngForm" >

    <div>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput name="f_name" ngModel type="text" placeholder="Enter your first name" #mobInput="ngModel" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput name="l_name" ngModel type="text"  placeholder="Enter your last name" #mobInput="ngModel" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Mobile Number</mat-label>
        <input matInput name="mob" ngModel type="text" title="Error Message" pattern="[0-9]{10}" placeholder="Enter your mobile number" #mobInput="ngModel" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput name="address" ngModel type="text" placeholder="Enter your Address" #mobInput="ngModel" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput name="email" ngModel type="email" placeholder="Email" #emailInput="ngModel" required email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>

      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput name="password" ngModel type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
    </div>


    <div>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input matInput name="cn_password" ngModel type="password" placeholder="Confirm Password" #passwordInput="ngModel" required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
    </div>

    <div>
      <p style="font-family: quattrocento;"><b>NOTE: Password MUST HAVE the following:</b></p>
      <ul>
        <li style="font-family: quattrocento;">A lowercase letter</li>
        <li style="font-family: quattrocento;">An uppercase letter</li>
        <li style="font-family: quattrocento;">At least one numeral</li>
        <li style="font-family: quattrocento;">Minimum 8 characters</li>
      </ul>
    </div>

    <div>
      <button mat-raised-button color="primary" type="submit" >Sign Up</button>
    </div>
    <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->

  </form>
</mat-card>
